absl-py==0.9.0
appdirs==1.4.3
astunparse==1.6.3
backcall==0.1.0
cachetools==4.1.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
configparser==5.0.0
cycler==0.10.0
decorator==4.4.2
distlib==0.3.0
docker-pycreds==0.4.0
gast==0.3.3
gitdb==4.0.5
gitpython==3.1.2
google-auth-oauthlib==0.4.1
google-auth==1.14.2
google-pasta==0.2.0
gql==0.2.0
graphql-core==1.1
grpcio==1.28.1
h5py==2.10.0
idna==2.9
importlib-metadata==1.6.0
ipykernel==5.2.1
ipython-genutils==0.2.0
ipython==7.14.0
jedi==0.17.0
joblib==0.14.1
jupyter-client==6.1.3
jupyter-core==4.6.3
keras-preprocessing==1.1.0
kiwisolver==1.2.0
markdown==3.2.2
matplotlib==3.2.1
numpy==1.18.4
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opt-einsum==3.2.1
pandas==1.0.3
parso==0.7.0
pathtools==0.1.2
pickleshare==0.7.5
pip==20.0.2
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.11.3
psutil==5.7.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
pyyaml==5.3.1
pyzmq==19.0.1
requests-oauthlib==1.3.0
requests==2.23.0
rsa==4.0
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.1
sentry-sdk==0.14.3
setuptools==46.1.3.post20200330
shortuuid==1.0.1
six==1.14.0
smmap==3.0.4
subprocess32==3.5.4
tensorboard-plugin-wit==1.6.0.post3
tensorboard==2.2.1
tensorflow-estimator==2.2.0
tensorflow==2.2.0
termcolor==1.1.0
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.9
virtualenv-clone==0.5.4
virtualenv==20.0.16
wandb==0.8.35
watchdog==0.10.2
wcwidth==0.1.9
werkzeug==1.0.1
wheel==0.34.2
wincertstore==0.2
wrapt==1.12.1
zipp==3.1.0